defaults
    mode http
    timeout client 300s
    timeout server 300s
    timeout connect 3s
    timeout server-fin 2s
    timeout http-request 5s 
    log stdout format raw local0
    log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"

frontend http
    bind *:8080
#    bind :8443 ssl crt /ssl_key.pem

    acl ogmios hdr(HostResolver) -i "ogmios/$NETWORK"
    use_backend ogmios_backend if ogmios

    acl kupo hdr(HostResolver) -i "kupo/$NETWORK"
    use_backend kupo_backend if kupo

backend ogmios_backend
    server local cardano-node-ogmios:$OGMIOS_PORT

backend kupo_backend
    server local kupo:$KUPO_PORT
