defaults
    mode http
    timeout client 30s
    timeout server 30s
    timeout connect 3s
    timeout server-fin 2s
    timeout http-request 5s 
    log stdout format raw local0
    log-format "%ci:%cp a:%f/%b/%s t:%Tq/%Tt %{+Q}r %ST b:%B C:%ac,%fc,%bc,%sc Q:%sq/%bq"

frontend http
    bind *:8080
    bind :8443 ssl crt /xray.pem

    acl jwt_bearer hdr(BearerResolver) -i "$HAPROXY_JWT_BEARER_TOKEN"

    acl ogmios_v1 hdr(HostResolver) -i "output/$NETWORK/ogmios/api/v1"
    use_backend ogmios_backend_v1 if ogmios_v1 !jwt_bearer
    use_backend ogmios_backend_v1_extended if ogmios_v1 jwt_bearer

    acl kupo_v0 hdr(HostResolver) -i "output/$NETWORK/kupo/api/v0"
    use_backend kupo_backend_v0_extended if kupo_v0 jwt_bearer

backend ogmios_backend_v1
    server local cardano-node-ogmios:$OGMIOS_PORT
backend ogmios_backend_v1_extended
    timeout server 60m
    server local cardano-node-ogmios:$OGMIOS_PORT

backend kupo_backend_v0_extended
    timeout server 60m
    server local kupo:$KUPO_PORT
