# Dependency directories
node_modules/
.cache/
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac files
.DS_Store

# Yarn
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity

# dotenv environment variable files
.env*
!.env.example
